<nav>
  <div class="content">
    <header>
      <div class="brand"> Blogy </div>
      <button> Open </button>
    </header>
    <ul>
      <li>{{#link-to 'index'}} {{ t 'ui.application.nav.home' }} {{/link-to}}</li>
      <li>{{#link-to 'blogy/posts'}} {{ t 'ui.application.nav.list' }} {{/link-to}}</li>
      <li>{{#link-to 'blogy/posts.new'}} {{ t 'ui.application.nav.new' }} {{/link-to}}</li>
    </ul>
  </div>
</nav>

<div id="outlet">
  {{outlet}}
</div>
